.cadastro {
  background-image: url(../img/background-bonsai.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0 5rem 0;
}

.cadastro__titulo {
  border-bottom: 0.1rem solid var(--cor-escura);
  color: var(--cor-escura);
  display: inline-block;
  font-size: 4rem;
  font-weight: bolder;
  margin-bottom: 3rem;
  margin-left: 3rem;
  padding: 1rem 8rem 0.5rem 3rem;
}

.cadastro__container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.cadastro__formulario {
  background-color: var(--cor-card-formulario);
  border-radius: 2rem;
  box-shadow: -1rem 1rem 0.4rem 0 var(--cor-sombra-card);
  padding: 3rem;
}

.cadastro__formulario-label {
  font-size: 2.4rem;
}

.cadastro__formulario-input {
  font-size: 2.4rem;
  margin: 0.5rem 0;
  padding: .5rem;
}

.cadastro__botao {
  background-color: var(--cor-botoes);
  border: none;
  border-radius: 5.4rem;
  color: var(--cor-clara);
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1.6rem;
}

.cadastro__botao:hover {
  background-color: var(--cor-botoes-hover);
}
