.hero {
  align-items: end;
  border: 1px solid red;
  background-color: var(--cor-clara);
  background-image: url(../img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
}

.hero__caixa {
  padding: 0 10rem;
  margin-bottom: 5rem;
  width: 70rem;
}

.hero__titulo {
  color: var(--cor-fundo);
  font-size: 8rem;
  font-weight: bold;
  text-shadow: -0.1rem -0.1rem 0 var(--cor-escura),
    0.1rem -0.1rem 0 var(--cor-escura), -0.1rem 0.1rem 0 var(--cor-escura),
    0.1rem 0.1rem 0 var(--cor-escura), -0.4rem 0.8rem 1rem var(--cor-escura);
}

.hero__texto {
  color: var(--cor-fundo);
  font-size: 3.4rem;
  font-weight: bold;
  text-shadow: -0.1rem -0.1rem 0 var(--cor-escura),
    0.1rem -0.1rem 0 var(--cor-escura), -0.1rem 0.1rem 0 var(--cor-escura),
    0.1rem 0.1rem 0 var(--cor-escura), -0.4rem 0.8rem 1rem var(--cor-escura);
}
