.perfil {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  justify-content: center;
}
/* BIO */
.perfil__bio {
  align-items: center;
  background-color: var(--cor-clara);
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem 3rem.2rem var(--cor-gradiente);
  display: flex;
  flex-direction: column;
  width: 90%;
}

.perfil__bio-detalhe {
  background-color: var(--cor-detalhe);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  height: 12rem;
  width: 100%;
}

.perfil__bio-foto {
  border-radius: 50%;
  margin-top: -6rem;
  position: relative;
  width: 15rem;
  z-index: 1;
}

.perfil__bio-titulo {
  font-size: 3rem;
  font-weight: 500;
}

.perfil__bio-usuario,
.perfil__bio-local {
  color: var(--cor-texto-claro);
  font-size: 1.6rem;
}

.perfil__bio-abas {
  width: 100%;
}

.perfil__bio-lista {
  border-top: 0.1rem solid var(--cor-escura);
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 1.6rem;
  margin-top: 3rem;
  padding: 1.6rem;
}

.perfil__bio-link {
  color: var(--cor-escura);
  font-size: 2rem;
  text-decoration: none;
}

.perfil__bio-destaque {
  border-bottom: 0.2rem solid var(--cor-destaque);
  color: var(--cor-destaque);
  font-weight: bold;
}

/* INFO */
.perfil__info {
  align-items: center;
  display: flex;
  gap: 5rem;
  width: 90%;
  justify-content: space-between;
  margin-top: 3rem;
}

.perfil__card {
  background-color: var(--cor-clara);
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem 3rem.2rem var(--cor-gradiente);
  height: 20rem;
  padding: 2rem;
}

.perfil__card-titulo-sobre {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.perfil__card-titulo-amigos {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.perfil__card-texto {
  font-size: 1.6rem;
  font-weight: 300;
}

.perfil__card-container-sobre {
  align-items: center;
  display: flex;
  gap: 1.6rem;
  margin-top: 2rem;
}

.perfil__card-container-amigos {
  align-items: center;
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.perfil__card-foto-perfil {
  border-radius: 50%;
  width: 7rem;
}

.perfil__card-nome-perfil {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  text-align: center;
}

/* FOTOS */
.perfil__fotos {
  background-color: var(--cor-clara);
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem 3rem.2rem var(--cor-gradiente);
  margin-top: 3rem;
  padding: 2rem;
  width: 90%;
}

.perfil__fotos-titulo {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.perfil__fotos-container {
  display: flex;
  justify-content: space-around;
}

.perfil__fotos-fotos {
  border-radius: 3rem;
  width: 15rem;
}

/* POSTAGENS */
.perfil__postagens {
  background-color: var(--cor-clara);
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem 3rem.2rem var(--cor-gradiente);
  margin-top: 3rem;
  padding: 2rem;
  width: 90%;
}

.perfil__postagens-titulo {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.perfil__postagens-container {
  align-items: center;
  display: flex;
  gap: 3rem;
}

.perfil__postagem-foto {
  border-radius: 50%;
  width: 10rem;
}

.perfil__postagem-texto {
  font-size: 1.6rem;
  font-weight: 300;
}

.perfil__postagens-container-data {
  align-items: center;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.perfil__postagem-data {
  font-size: 1.4rem;
  font-weight: 200;
}

/* SERVIÇOS */

.perfil__servicos {
  background-color: var(--cor-clara);
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem 3rem.2rem var(--cor-gradiente);
  margin-top: 3rem;
  padding: 2rem;
  width: 90%;
}

.perfil__servicos-titulo {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.perfil__servicos-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.perfil__sevicos-card {
  align-items: center;
  background-color: var(--cor-card-servicos);
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem 3rem.2rem var(--cor-gradiente);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem .5rem;
  width: 24%;
}

.perfil__sevicos-card:hover {
  background-color: var(--cor-card-incentivo);
  cursor: pointer;
}

.perfil__servico-texto {
  color: var(--cor-clara);
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.perfil__servico-imagem {
  border: .2rem solid var(--cor-escura);
  border-radius: 3rem;
  width: 70%;
}